{% set startPoint = null %}
{% set endPoint = null %}
{% for location in blogpost.activity.locations %}
    {% if location.locationType == "startPoint" %}
        {% set startPoint = location %}
    {% endif %}
    {% if location.locationType == "endPoint" %}
        {% set endPoint = location %}
    {% endif %}
{% endfor %}
{% set locationText = 'blogpost.activity.summary.location.startAndEnd'|trans %}
{% if startPoint is not null and endPoint is not null %}
    {% set locationText = 'blogpost.activity.summary.location.start'|trans %}
{% endif %}
<tr>
    <td>
        {{ locationText }}
    </td>
    <td>
        <a href="{{ startPoint.link.path }}" target="_blank">{{ startPoint.name }}</a>
    </td>
</tr>
{% if startPoint is not null and endPoint is not null %}
    <tr>
        <td>
            {{ 'blogpost.activity.summary.location.end'|trans }}
        </td>
        <td>
            <a href="{{ endPoint.link.path }}" target="_blank">{{ endPoint.name }}</a>
        </td>
    </tr>
{% endif %}