{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div id="page-home">
        {% include 'content/home/hero.html.twig' %}
        {% include 'layouts/includes/navigation-main.html.twig' %}
        {# Intro #}
        <section id="intro" class="container-fluid spaced">
            <div class="container">
                <h1>{{ pimcore_input('home_headline', {'placeholder': 'Homepage Headline'})}}</h1>
                <div class="row mt-4">
                    <div class="col-12 col-md-6">
                        {{ pimcore_wysiwyg('home_intro_left', {'placeholder': 'Homepage Intro links'})}}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ pimcore_wysiwyg('home_intro_right', {'placeholder': 'Homepage Intro rechts'})}}
                    </div>
                </div>
            </div>
        </section>
        {# Latest #}
        <section id="posts" class="container-fluid spaced">
            <div class="container">
                <h2>{{ pimcore_input('posts_latest_headline', {'placeholder': 'Neuste Beiträge'})}}</h2>
                <div class="row mt-4">
                    {% for post in latestPosts %}
                        {% include 'content/_general/blogpost_list_item.html.twig' with {'post': post, 'size': 'normal'} %}
                    {% endfor %}
                </div>
            </div>
            {# Tags #}
            <section id="tagList" class="container mt-4">
                <h2 >{{ pimcore_input('tags_headline', {'placeholder': 'Beliebte Tags'})}}</h2>
                <div class="tags mt-3">
                    {% for tag in tags %}
                        {% if tag.hideInList != true %}
                            <a href="/tags?{{ tag.parent.slug }}={{ tag.slug }}" class="badge text-bg-secondary mb-1 d-inline-block">{{ tag.emoji }} {{ tag.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
            <div class="container mt-5">
                <h2>{{ pimcore_input('posts_featured_headline', {'placeholder': 'Ausgewählte Beiträge'})}}</h2>
                <div class="row g-2 mt-3">
                    {% for collection in collections %}
                        {% include 'content/_general/collection_list_item.html.twig' with {'collection': collection} %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{%  endblock %}
