{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div id="page-home">
{#        {% include 'layouts/inc/nav_main.html.twig' %}#}
        {% include 'content/home/hero.html.twig' %}

{#        #}{# Intro #}
{#        <section id="intro" class="container spaced">#}
{#            <div class="row">#}
{#                <h1 class="col-12">{{ pimcore_input('welcomeTextHeadline', {"width": 540}) }}</h1>#}
{#                <div class="col-12 col-md-6">#}
{#                    {{ pimcore_wysiwyg('welcomeTextOne') }}#}
{#                </div>#}
{#                <div class="col-12 col-md-6">#}
{#                    {{ pimcore_wysiwyg('welcomeTextTwo') }}#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

{#        #}{# Latest #}
{#        <section id="posts" class="container-fluid spaced">#}
{#            <div class="container">#}
{#                <h2>{{ 'home.posts.latest'|trans }}</h2>#}
{#                <div class="row">#}
{#                    {% for post in latestPosts %}#}
{#                        {% include 'page/_general/blogpost_list_item.html.twig' with {'post': post} %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="divider"></div>#}
{#                <h2>{{ 'home.posts.featured'|trans }}</h2>#}
{#                <div class="row">#}
{#                    {% for post in latestPosts %}#}
{#                        {% include 'page/_general/blogpost_list_item.html.twig' with {'post': post} %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="divider"></div>#}
{#            </div>#}
{#        </section>#}
{#        {% include 'page/home/sets.html.twig' %}#}


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
{%  endblock %}
