<footer class="mt-5">
    <div class="container-fluid p-0">
        <img id="mountains" src="{{ asset('static/gfx/mountains-optimized.svg') }}" alt="FreiWeg Outdoor Activity Blog">
    </div>
    <div class="container-fluid content pb-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    {% set footerNaviFoler = pimcore_website_config("footerNaviFolder") %}
                    {% if footerNaviFoler %}
                        {% for item in footerNaviFoler.children() %}

                            {% if item.getType() == "page" %}
                                <a href="{{ item.getHref() }}">{{ item.getTitle() }}</a>
                            {% elseif item.getType() == "link" %}
                                <a href="{{ item.getHref() }}">{{ item.getKey() }}</a>
                            {% endif %}
                            {% if loop.last == false %}
                                <span> · </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>
