{% set navigationMain = getMainNavigation() %}
<nav id="nav-main" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <div class="navbar-brand d-lg-none d-md-block">Bitte wählen</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                {% for topic in navigationMain %}
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if topic.folder.getProperty("pictogram") %}
                                <img src="{{ asset('static/gfx/picto-' ~ topic.folder.getProperty("pictogram") ~ '.svg') }}" width="50" height="50" alt="{{ topic.folder.key }}" class="mx-2">
                            {% endif %}
                            {{ topic.folder.key }}
                        </button>
                        <ul class="dropdown-menu">
                            {% for item in topic.items %}
                                {% if item.className == "Collection"%}
                                    <li><a class="dropdown-item" href="/{{ item.slug }}">{{ item.title }}</a></li>
                                {% elseif item.className == "Link"%}
                                    <li><a class="dropdown-item" href="/{{ item.blogpost.slug }}">{{ item.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
