<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        {% block layout_head_meta %}
            {% do pimcore_head_title().setSeparator(" ") %}
            {% do pimcore_head_meta().appendName("viewport", "width=device-width, initial-scale=1, shrink-to-fit=no") %}
            {% do pimcore_head_meta().appendName("msapplication-TileColor", "#007560") %}
            {% do pimcore_head_meta().appendName("theme-color", "#ffffff") %}
            {{ pimcore_head_title() }}
            {{ pimcore_head_meta() }}
        {% endblock %}

        {% apply spaceless %}
{#            {% do pimcore_head_link({rel: "icon", href: "/static/favicon.ico"}, "PREPEND") #}
{#            {% do pimcore_head_link({rel: "appe-touch-licon", sizes:"180x180", href: "/static/apple-touch-icon.png"}, "PREPEND") #}
{#            {% do pimcore_head_link({rel: "icon", type: "image/png", sizes:"32x32", href: "/static/favicon-32x32.png"}, "PREPEND") #}
{#            {% do pimcore_head_link({rel: "icon", type: "image/png", sizes:"16x16", href: "/static/favicon-16x16.png"}, "PREPEND") #}
{#            {% do pimcore_head_link({rel: "manifest", href: "/static/site.webmanifest"}, "PREPEND") #}
{#            {% do pimcore_head_link({rel: "mask-icon", href: "/static/safari-pinned-tab.svg", color: "#007560"}, "PREPEND") #}

{#            {% do pimcore_head_link({rel: "canonical", href: "https://www.mydomain.de" ~ app.request.pathinfo}, "PREPEND") #}
            {% do pimcore_head_link().prependStylesheet(asset("build/app.css"), "screen") %}
            {% do pimcore_head_link().prependStylesheet(asset("static/css/libs/bootstrap-icons/font/bootstrap-icons.min.css"), "screen") %}
            {% do pimcore_head_link().prependStylesheet(asset("static/css/libs/bootstrap.min.css"), "screen") %}
            {% do pimcore_head_link().prependStylesheet(asset("static/css/libs/klaro.css"), "screen") %}

            {% do pimcore_head_script().appendFile(asset("static/js/libs/bootstrap.bundle.min.js")) %}
            {% do pimcore_head_script().appendFile(asset("static/js/libs/klaro-config.js")) %}
            {% do pimcore_head_script().appendFile(asset("static/js/libs/klaro.js")) %}
            {% for js in encore_entry_js_files('app') %}
                {% do pimcore_head_script().appendFile(js) %}
            {% endfor %}
        {% endapply %}

        {% block head_stylesheets %}
            {{ pimcore_head_link() }}
        {% endblock %}
        {% block extra_stylesheets %}{% endblock %}

        {% if app.environment == 'prod' %}
            <meta name="msvalidate.01" content="C3C0DE72751A61AD41BB5937C6761002" />
            <meta name="google-site-verification" content="google540a4e5e68936976" />
            <meta name="p:domain_verify" content="693bfe78b4fb4e7a9ac1121adb29ebcc" />
        {% endif %}
    </head>
    <body>

        {% block editmodeSetups %}
        {% endblock %}

        {# CONTENT #}
        {% block content %}
        {% endblock %}

        {# FOOTER AND SOCIAL #}
        {% include "layouts/includes/footer.html.twig" %}
        {% include "layouts/includes/social_bar.html.twig" %}

        {# output scripts added before #}
        {% block headscripts %}
            {{ pimcore_head_script() }}
        {% endblock %}
        {% block extra_scripts %}{% endblock %}
    </body>
</html>