{% extends 'layouts/layout.html.twig' %}

{% set documentTitle = '' %}
{% if document is not null and document.title != ''%}
    {% do pimcore_head_title().prepend(document.title) %}
    {% set documentTitle = document.title %}
{% endif %}

{% if document is not null and document.description != '' %}
    {% do pimcore_head_meta().appendName('description', document.description) %}
{% endif %}

{% block content %}
    <div class="page page-blogpost-list">
        {# HERO #}
        <header id="hero" class="text-center mb-5">
            {% if collection.imageTeaser is defined and collection.imageTeaser is not null %}
                {% set heroImage = collection.imageTeaser.thumbnail('heroImage').html({
                    'imgAttributes': {
                        'class': 'd-none',
                        'id': 'hero-background'
                    },
                }) %}
                {{ heroImage|raw }}
            {% endif %}
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    {% if blogposts is not empty %}
                        <h1>{{ collection.title }}</h1>
                        <p>{{ collection.description|raw }}</p>
                        {% for post in blogposts %}
                            {% include 'content/_general/blogpost_list_item.html.twig' with {'post': post, 'size': 'wide' } %}
                        {% endfor %}
                        <div class="blogpost">

                        </div>
                    {% else %}
                        <p>No blog posts found in this collection.</p>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    {# Collections #}
                    {% if collection|length > 0 %}
                        <h3>{{ 'blogpostList.recommendedCollections'|trans }}</h3>
                        <ul id="collections">
                            {% for collection in collections %}
                                <li>
                                    <a href="/{{ collection.slug }}">{{ collection.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {# Tags #}
                </div>
                </div>
        </div>
    </div>
{% endblock %}