{% extends 'layouts/layout.html.twig' %}

{% set documentTitle = '' %}
{% if document is not null and document.title != ''%}
    {% do pimcore_head_title().prepend(document.title) %}
    {% set documentTitle = document.title %}
{% endif %}

{% if document is not null and document.description != '' %}
    {% do pimcore_head_meta().appendName('description', document.description) %}
{% endif %}

{% do pimcore_head_meta().appendName('robots', 'noindex') %}

{% block content %}
    <div class="page page-list">
        {% include 'layouts/includes/navigation-main.html.twig' %}
        {# HERO #}
        <header id="hero" class="text-center mb-5">
            {% if heroImage is defined and heroImage is not null %}
                {% set heroImage = heroImage.thumbnail('heroImage').html({
                    'imgAttributes': {
                        'class': 'd-none',
                        'id': 'hero-background'
                    },
                }) %}
                {{ heroImage|raw }}
            {% endif %}
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <a href="/" class="col-12 text-center">
                            <img id="logo" class="mb-5" src="{{ asset('static/gfx/freiweg-logo.svg') }}" alt="FreiWeg Outdoor Activity Blog">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    {% if collections is not empty %}
                        <h1 class="mb-5">{{ 'collectionsList.headline'|trans }}</h1>
                        <p>
                            Entdecke unsere Sammlungen mit Inspirationen und Geschichten rund zu verschiedensten Outdoor Themen. Ob du dich für gemütliche Wanderwege, spannende Radrouten, besondere Naturmomente abseits der bekannten Pfade oder wunderschöne Städte interessierst – jede Sammlung nimmt dich mit auf eine kleine Entdeckungsreise.
                        </p>
                        <p>
                            Stöbere durch die unterschiedlichen Themenwelten, lass dich inspirieren und finde genau die Touren und Ideen, die zu deinem nächsten Abenteuer passen. Jede Sammlung öffnet ein neues Kapitel voller frischer Eindrücke, praktischer Tipps und persönlicher Empfehlungen.
                        </p>
                        <p>
                            Mach’s dir gemütlich, klick dich durch – und finde deinen nächsten Lieblingsplatz draußen in der Natur.
                        </p>
                            <div class="row g-2 mt-3">
                                {% for collection in collections %}
                                    {% include 'content/_general/collection_list_item.html.twig' with {'collection': collection, 'pageType': 'collectionsList'} %}
                                {% endfor %}
                            </div>
                        {% include 'content/_general/pagination.html.twig' %}

                    {% else %}
                        <p>Leider konnten wir zu dieser Auswahl keine Sammlungen finden.</p>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    {# Collections #}
                    {% if collection is defined and collection|length > 0 %}
                        <h3>{{ 'blogpostList.recommendedCollections'|trans }}</h3>
                        <ul id="collections">
                            {% for collection in collections %}
                                <li>
                                    <a href="/{{ collection.slug }}">{{ collection.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {# Tags #}
                    {% include 'content/blogpost/aside/tag-list.html.twig' %}
                </div>
                </div>
        </div>
    </div>
{% endblock %}