{% extends 'layouts/layout.html.twig' %}

{% do pimcore_head_link().appendStylesheet(asset('static/css/list.css'), 'screen') %}
{% do pimcore_head_link().appendStylesheet(asset('static/css/material.css'), 'screen') %}

{% block teaserImage %}
    {% if editmode %}
        {{ pimcore_image("teaserImage", {
            "width": 400,
            "title": "Teaser-Image",
        }) }}
    {% elseif document.editable("teaserImage") is not null %}
        <img src="{{ document.editable("teaserImage").getThumbnail("teaser1600") }}" alt="{{ "headlineFrontend" }}" />
    {% endif %}
{% endblock %}

{% if document is not null and document.title != ""%}
    {% do pimcore_head_title().prepend(document.title) %}
{% endif %}

{% if document is not null and document.description != ""%}
    {% do pimcore_head_meta().appendName("description", document.description) %}
{% endif %}

{% block content %}
    <div class="container-fluid head">
        <div class="container">

            {# INTROTEXT #}
            {% if editmode %}
                {{ pimcore_wysiwyg("introText", {
                    "placeholder": "Introtext inklusive Überschrift (Heading 1)"
                }) }}
            {% else %}
                {{ document.editable("introText").data|raw }}
            {% endif %}
            {#  FORMULAR NOT YET SENT #}
            {% if mailSent != true %}
                <div class="row">

                    {# MATERIALLIST INFOTEXT #}
                    <div class="col-lg-6 col-xs-12 col-md-12 col-sm-6">
                        {% if editmode %}
                            {{ pimcore_wysiwyg("materialList", {
                                "placeholder": "Informationen zur Materiallisten-Anforderung"
                            }) }}
                        {% else %}
                            {{ document.editable("materialList").data|raw }}
                        {% endif %}
                    </div>

                    {# MATERIALLIST FORM #}
                    <div class="col-lg-6 col-xs-12 col-md-12 col-sm-6">
                        Was ergibt {{ captcha.firstNumber }} {{ captcha.operand }} {{ captcha.secondNumber }}?
                        {{ form_start(form) }}
                            {% set errors = form.vars.errors.form.getErrors(true).count %}
                            <input
                                placeholder="{{ "rental.list.form.result.placeholder"|trans }}"
                                name="{{ field_name(form.result) }}"
                                {% if errors > 0 %}
                                    class="get-list-error"
                                {% endif %}
                            >
                            <br><br>
                            <input
                                placeholder="{{ "rental.list.form.email.placeholder"|trans }}"
                                name="{{ field_name(form.email) }}"
                                {% if errors > 0 %}
                                    class="get-list-error"
                                {% endif %}
                            >
                            <input
                                type="hidden"
                                value="{{ captcha.cacheKey }}"
                                name="{{ field_name(form.cake) }}"
                            >
                            <input
                                type="submit"
                                class="js-recaptcha"
                                value="{{ "rental.list.form.button.value"|trans }}"
                                name="{{ field_name(form.submit) }}"
                            >
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}

            {#  FORMULAR NOT YET SENT #}
            {% if mailSent == true or editmode %}
                <div class="list-sent">
                    {{ pimcore_wysiwyg("mailSentText", {
                        "placeholder": "Info die erscheint, wenn Formular versendet wurde"
                    }) }}
                </div>
            {% endif %}
        </div>
    </div>

    {# ITEMS #}
    <div class="container-fluid images">
        <div class="container">
            <h2>{{ "rental.list.headlineItems"|trans }}</h2>
            <div id="items">
                {% for rentalObject in rentalObjects %}
                    <a
                        href="/vermietung/{{ rentalObject.rentalObject.slug }}"
                        data-id="{{ rentalObject.uuid }}"
                        class="col-lg-3 col-xs-12 col-md-6 col-sm-6 item"
                    >
                        <div class="inner">
                            <div class="frame">
                                {% set imageSrc = (rentalObject.imageList is not null) ? rentalObject.imageList.getThumbnail("rentalObjectList") : "/static/gfx/coming-soon.jpg" %}
                                <img src="{{ imageSrc }}" alt="{{ rentalObject.manufacturer.name }} {{ rentalObject.rentalObject.title }}">
                            </div>
                            <h3>{{ rentalObject.manufacturer.name }}</h3>
                            <h4>{{ rentalObject.rentalObject.title }}</h4>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}