{% extends 'layouts/layout.html.twig' %}

{% set documentTitle = '' %}
{% if document is not null and document.title != ''%}
    {% do pimcore_head_title().prepend(document.title) %}
    {% set documentTitle = document.title %}
{% endif %}

{% if document is not null and document.description != '' %}
    {% do pimcore_head_meta().appendName('description', document.description) %}
{% endif %}

{% block content %}
    <div class="page page-cms">
        {# HERO #}
        <header id="hero" class="text-center">
            {% if editmode %}
                {{ pimcore_image('heroImage', {
                    'width': 400,
                    'title': 'Hero-Image',
                }) }}
            {% elseif document.editable('heroImage') is not null %}
                <a href="/">
                    {% set heroImage = document.editable('heroImage').getThumbnail('heroImage').html({
                        'class': 'd-none',
                        'id': 'hero-background'
                    }) %}
                    {{ heroImage|raw }}
                </a>
            {% endif %}
        </header>
        {% include 'layouts/includes/navigation-main.html.twig' %}
        <div class="container-fluid mt-5">
            {% if editmode %}
                <strong>Authors</strong><br>
                {{ pimcore_relations("authors", {
                    'placeholder': 'Authors',
                    "types": ["object"],
                    "subtypes": {
                        "object": ["object"]
                    },
                    "classes": ["Author"]
                }) }}
                <br>
                <strong>Tags</strong><br>
                {{ pimcore_relations("tags", {
                    "placeholder": "tags",
                    "types": ["object"],
                    "subtypes": {
                        "object": ["object"]
                    },
                    "classes": ["Tag"]
                }) }}
            {% endif %}
            {{ pimcore_areablock('cms') }}
        </div>
    </div>
{% endblock %}