{% extends 'layouts/layout.html.twig' %}
{% dump(blogpost) %}
    {% block content %}
        {% if blogpost is defined %}
            {{ dump(blogpost) }}
            <article class="page page-blogpost">
                {% include 'layouts/includes/navigation-main.html.twig' %}
                {# HERO #}
                <header id="hero" class="text-center">
                    {% if blogpost.imageTeaser is defined and blogpost.imageTeaser is not null %}
                        {% set heroImage = blogpost.imageTeaser.thumbnail('heroImage').html({
                            'imgAttributes': {
                                'class': 'd-none',
                                'id': 'hero-background'
                            },
                        }) %}
                        {{ heroImage|raw }}
                    {% endif %}
                    <div class="hero-content">
                        <div class="container text-start p-4">
                            <h1>{{ blogpost.title }}</h1>
                            <br>
                            <h2 class="js-toc-ignore">{{ blogpost.subTitle }}</h2>
                        </div>
                    </div>
                </header>
                {# CONTENTS #}
                <div id="title" class="container p-4 text-left">
                    <h1>{{ blogpost.title }}</h1>
                    <h2 class="js-toc-ignore">{{ blogpost.subTitle }}</h2>
                    {% for badge in blogpost.badges %}
                        <span class="badge text-bg-secondary">{{ badge }}</span>
                    {% endfor %}
                </div>
                {# INTRO #}
                <div class="container p-4">
                    <div class="row">
                        <div class="col-12 col-lg-7 pt-4 intro">
                            {{ emojied(blogpost.previewText)|raw }}
                        </div>
                        {% include 'content/blogpost/aside/toc.html.twig' %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            {% for item in blogpost.content %}
                                {% include 'content/blogpost/content/' ~ item.type ~ '.html.twig' with { 'item' : item } %}
                            {% endfor %}
                        </div>
                        <div class="col-12 offset-lg-1 col-lg-4">
                            {# ASIDES #}

                            {% if blogpost.activity is not null and blogpost.activity.features|length > 0 %}
                                {% include 'content/blogpost/aside/activity-features.html.twig' %}
                            {% endif %}
{#                            {% include 'content/blogpost/aside/links-downloads.html.twig' %}#}
                            {% include 'content/blogpost/aside/authors.html.twig' %}
                        </div>
                    </div>
                </div>
                {% if tour is defined and tour is not null and tour.tourProfileAlltrails %}
                    <div class="container pl-4 pr-4">
                        <h2>{{ 'blogpost.tour.card-and-height-profile'|trans }}</h2>
                        {% include 'content/blogpost/alltrails.html.twig' %}
                    </div>
                {% endif %}
            </article>
        {% endif %}
    {% endblock %}
