{% extends 'layouts/layout.html.twig' %}
    {% if blogpost is defined %}
        {% do pimcore_head_title().append(blogpost.metaTitle ?? "") %}
        {% do pimcore_head_meta().appendName('description', blogpost.metaDescription ?? "") %}
    {% endif %}
    {% block extra_stylesheets %}
        {{ parent() }}
        {# GPX #}
        {% if blogpost.activity.gpx is defined and blogpost.activity.gpx is not null %}
            {% include 'content/blogpost/gpx-stylesheets.html.twig' %}
        {% endif %}
    {% endblock %}
    {% block extra_scripts %}
        {{ parent() }}
        {# GPX #}
        {% if blogpost.activity.gpx is defined and blogpost.activity.gpx is not null %}
            {% include 'content/blogpost/gpx-scripts.html.twig' %}
        {% endif %}
    {% endblock %}
    {% block content %}
        {% if blogpost is defined %}
            {# BLOGPOST #}
            <article class="page page-blogpost">
                {% include 'layouts/includes/navigation-main.html.twig' %}
                {# HERO #}
                <header id="hero" class="text-center">
                    {% if blogpost.imageTeaser is defined and blogpost.imageTeaser is not null %}
                        {% set heroImage = blogpost.imageTeaser %}
                    {% elseif blogpost.imageMain is defined and blogpost.imageMain is not null %}
                        {% set heroImage = blogpost.imageMain %}
                    {% endif %}

                    {% if heroImage is defined %}
                        {% set heroImage = heroImage.thumbnail('heroImage').html({
                            'imgAttributes': {
                                'class': 'd-none',
                                'id': 'hero-background'
                            },
                        }) %}
                        {{ heroImage|raw }}
                    {% endif %}
                    <div class="hero-content">
                        <div class="container">
                            <div class="row">
                                <a href="/" class="col-12 text-center">
                                    <img id="logo" class="mb-5" src="{{ asset('static/gfx/freiweg-logo.svg') }}" alt="FreiWeg Outdoor Activity Blog">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                {# CONTENTS #}
                <div id="title" class="container mt-5 mb-5 text-left">
                    <h1>{{ blogpost.title }}</h1><br>
                    <h2 class="mb-2 js-toc-ignore">{{ blogpost.subTitle }}</h2>
                    {% if blogpost.activity is not null %}
                        <p class="tags">
                            {% for tag in blogpost.activity.tags %}
                                {% if tag.hideInList == false %}
                                    <a href="/blogposts?{{ tag.tagCategory.slug }}={{ tag.slug }}" class="badge text-bg-secondary">{{ tag.emoji }} {{ tag.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                {# INTRO #}
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 intro">
                            {{ emojied(blogpost.previewText)|raw }}
                        </div>
                        {% include 'content/blogpost/aside/toc.html.twig' %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            {% for item in blogpost.content %}
                                {% include 'content/blogpost/content/' ~ item.type ~ '.html.twig' with { 'item' : item } %}
                            {% endfor %}
                            {# GPX #}
                            {% if blogpost.activity.gpx is defined and blogpost.activity.gpx is not null %}
                                <div id="gpx" class="p-1 border mt-5" data-name="leaflet">
                                    <div id="map" style="height: 400px;"></div>
                                    <div id="elevation" class="mt-1"></div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-12 offset-lg-1 col-lg-4 asides">
                            {# ASIDES #}
                            {% if blogpost.activity is not null  and blogpost.activity.summary is not null %}
                                {% include 'content/blogpost/aside/summary.html.twig' %}
                            {% endif %}
                            {% if
                                (blogpost.activity.gpx is defined and blogpost.activity.gpx is not null)
                                or (blogpost.downloads is defined and blogpost.downloads|length > 0)
                                or (blogpost.links is defined and blogpost.links|length > 0)
                            %}
                                {% include 'content/blogpost/aside/links-downloads.html.twig' %}
                            {% endif %}
                            {% if tagList is defined and tagList|length > 0 %}
                                {% include 'content/blogpost/aside/tag-list.html.twig' %}
                            {% endif %}
                            {% include 'content/blogpost/aside/authors.html.twig' %}
                        </div>
                    </div>
                    <div class="row" data-name="comments">
                        <div class="col-12 col-lg-7">
                            {# COMMENTS #}
                            {% include 'content/blogpost/comments.html.twig' with { 'comments': blogpost.comments } %}
                        </div>
                    </div>
                </div>
            </article>
        {% endif %}
    {% endblock %}
