<div id="comments" class="mt-5">
    <h3>{{ 'blogpost.comments.headline'|trans }}</h3>

    {# Comment succesfully saved #}
    {% if commentForm.errors == null and commentForm.isHandled == true %}
        <div class="alert alert-success">
            <strong>{{ "blogpost.comments.form.validation.successHeadline"|trans }}</strong>
            <br>
            {{ "blogpost.comments.form.validation.success"|trans }}
        </div>
    {% endif %}

    {% if blogpost.comments is empty %}
        {{ 'blogpost.comments.noComments'|trans }}
    {% else %}

        {% macro render_comments(comments, depth = 1) %}
            <ul class="list-unstyled{% if depth > 1 %} ms-4{% endif %}">
                {% for comment in comments %}
                    <li class="my-3">
                        <small>
                            <b>{{ comment.name }}</b>
                            {% if comment.website is not empty %}
                                (
                                <a href="{{ comment.website }}" target="_blank" rel="noopener noreferrer">
                                     {{ "blogpost.comments.visitWebsite"|trans }}
                                </a>
                                )
                            {% endif %}
                            am {{ comment.dateTime|date('d.m.Y') }} um {{ comment.dateTime|date('H:i') }} Uhr
                            {% if comment.referenceComment != null %}
                                als Antwort auf den Kommentar von <b>{{ comment.referenceComment.name }}</b>
                            {% endif %}
                        </small>
                        <br>
                        <div class="border-bottom mt-2 pb-3">
                            {{ comment.comment }}
                            {% set parentId = comment.id %}
                            {% if depth > 1 %}
                                {% set parentId = comment.parentId %}
                            {% endif %}
                            <div class="mt-2 js-comment-answer" data-pid="{{ parentId }}" data-referenceid="{{ comment.id }}" data-name="{{ comment.name }}">
                                <i class="bi bi-chat-dots"></i> {{ "blogpost.comments.answer"|trans }}
                            </div>
                        </div>
                        {% if comment.children is not empty %}
                            {{ _self.render_comments(comment.children, depth + 1) }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endmacro %}

        {{ _self.render_comments(comments) }}
    {% endif %}

    {# Comment Form #}
    {% if commentForm.errors != null or commentForm.isHandled == false %}
        <h3 id="comment-headline" class="mt-5 js-toc-ignore">{{ "blogpost.comments.yourComment"|trans }}</h3>
        {% set captcha = commentForm.getCaptcha() %}
        {% set form = commentForm.getFormView() %}

        {% if commentForm.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ "blogpost.comments.form.validation.error"|trans }}
                <ul class="px-3 my-0">
                    {% for error in commentForm.errors %}
                        <li class="mt-1">{{ ("blogpost.comments.form." ~ error.propertyPath ~ ".error")|trans }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ form_start(form, { "action": app.request.requestUri ~ "#comments", "attr": { "class": "js-comment-form" }}) }}
        <div class="form-group">
            <textarea
                placeholder="{{ "blogpost.comments.form.comment.placeholder"|trans }}"
                name="{{ field_name(form.comment) }}"
                class="form-control"
                rows="5"
            >{{ form.comment.vars.value|default('') }}</textarea>
        </div>

        <div class="row g-2 mt-3">
            <div class="form-group col-12 col-md-4 mt-2 mt-md-0">
                <input
                    placeholder="{{ "blogpost.comments.form.name.placeholder"|trans }}"
                    name="{{ field_name(form.name) }}"
                    class="form-control"
                    value="{{ form.name.vars.value|default('') }}"
                >
            </div>
            <div class="form-group col-12 col-md-4 mt-2 mt-md-0">
                <input
                    placeholder="{{ "blogpost.comments.form.email.placeholder"|trans }}"
                    name="{{ field_name(form.email) }}"
                    type="email"
                    class="form-control"
                    value="{{ form.email.vars.value|default('') }}"
                >
            </div>

            <div class="form-group col-12 col-md-4 mt-2 mt-md-0">
                <input
                    placeholder="{{ "blogpost.comments.form.website.placeholder"|trans }}"
                    name="{{ field_name(form.website) }}"
                    class="form-control"
                    value="{{ form.website.vars.value|default('') }}"
                >
            </div>
        </div>

        <div class="form-group mt-3">
            <small class="mx-2">Was ergibt {{ captcha.firstNumber }} {{ captcha.operand }} {{ captcha.secondNumber }}?</small>
            <input
                placeholder="{{ "blogpost.comments.form.result.placeholder"|trans }}"
                name="{{ field_name(form.result) }}"
                type="number"
                class="form-control"
            >
        </div>

        <div class="form-group mt-3">
            <input
                type="submit"
                class="js-recaptcha"
                value="{{ "blogpost.comments.form.button.value"|trans }}"
                name="{{ field_name(form.submit) }}"
            >
        </div>

        <input
            type="hidden"
            value="{{ captcha.cacheKey }}"
            name="{{ field_name(form.cake) }}"
        >

        <input
            type="hidden"
            value="{{ blogpost.id }}"
            name="{{ field_name(form.blogpostId) }}"
        >
        <input
            type="hidden"
            value="{{ form.pid.vars.value|default('') }}"
            name="{{ field_name(form.pid) }}"
            id="comment-pid"
        >
        <input
            type="hidden"
            value="{{ form.referenceId.vars.value|default('') }}"
            name="{{ field_name(form.referenceId) }}"
            id="reference-id"
        >

        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endif %}
</div>
