{% extends 'layouts/layout.html.twig' %}

{% set documentTitle = '' %}
{% if document is not null and document.title != ''%}
    {% do pimcore_head_title().prepend(document.title) %}
    {% set documentTitle = document.title %}
{% endif %}

{% if document is not null and document.description != '' %}
    {% do pimcore_head_meta().appendName('description', document.description) %}
{% endif %}

{% block content %}
    <div class="page page-blogpost-list">
        {# HERO #}
        <header id="hero" class="text-center mb-5">
            {% if editmode %}
                {{ pimcore_image('heroImage', {
                    'width': 400,
                    'title': 'Hero-Image',
                }) }}
            {% elseif document.editable('heroImage') is not empty %}
                {% set heroImage = document.editable('heroImage').getThumbnail('heroImage').html({
                    'class': 'd-none',
                    'id': 'hero-background'
                }) %}
                {{ heroImage|raw }}
            {% endif %}
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    {% if editmode %}
                        {{ pimcore_relation("collection", {
                            "types": ["object"],
                            "subtypes": {
                                "object": ["object"],
                            },
                            "classes": ["Collection"]
                        }) }}
                    {% elseif blogposts is not empty %}
                        <h1>{{ collection.title }}</h1>
                        <p>{{ collection.description }}</p>
                        {% for post in blogposts %}
                            {% include 'content/_general/blogpost_list_item.html.twig' with {'post': post, 'size': 'wide' } %}
                        {% endfor %}
                        <div class="blogpost">

                        </div>
                    {% else %}
                        <p>No blog posts found in this collection.</p>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    {# Collections #}
                    <h3>{{ 'blogpostList.recommendedCollections'|trans }}</h3>
                    {% for cellection in collections %}
                        {{ collection.title }}
                    {% endfor %}
                    Oder so ähnlic
                </div>
                </div>
        </div>
    </div>
{% endblock %}