{% if blogpost.authors %}
    <aside class="author mt-4">
        <h3>
            {{ (blogpost.authors|length > 1) ? 'blogpost.authors.headlinePlural'|trans : 'blogpost.authors.headline'|trans }}
        </h3>
        {% for author in blogpost.authors %}
            <table class="mt-4">
                <tr>
                    <td>
                        {% if author.image is not empty %}
                            {{ author.image.thumbnail('blogpost-author').html({ 'imgAttributes': { 'class': 'shadow-sm', 'alt': author.name }})|raw }}
                        {% endif %}
                    </td>
                    <td>
                        <p>
                            <strong>{{ author.name }}</strong>
                            {{ author.description|raw }}
                        </p>
                    </td>
                </tr>
            </table>
            <i class="bi bi-link"></i> <a href="/tags?autor={{ author.tag.slug }}">{{ 'blogpost.authors.postsFrom'|trans }} {{ author.name }}</a>
        {% endfor %}
    </aside>
{% endif %}
