<aside class="data-facts mt-4">
    <h3>{{ 'blogpost.data-facts.headline'|trans }}</h3>
    <table>

        {# Tour facts #}
        {% if facts.tour is defined %}
            <tr>
                <td class="font-weight-bold pr-2">
                    {% if facts.tour.end %}
                        {{ 'blogpost.data-facts.tour.starting-point'|trans }}
                    {% else %}
                        {{ 'blogpost.data-facts.tour.starting-and-end-point'|trans }}
                    {% endif %}
                </td>
                <td>
                    <a
                        href="https://www.google.com/maps/dir//{{ facts.tour.start.latitude }},{{ facts.tour.start.longitude }}/@{{ facts.tour.start.latitude }},{{ facts.tour.start.longitude }},18z"
                        target="_blank"
                    >
                        {% if facts.tour.startTitle is not empty %}{{ facts.tour.startTitle }}{% else %}{{ 'blogpost.data-facts.click-here'|trans }}{% endif %}
                    </a>
                </td>
            </tr>
            {# Endpoint #}
            {% if facts.tour.end %}
                <tr>
                    <td class="font-weight-bold pr-2">
                        {{ 'blogpost.data-facts.tour.end-point'|trans }}
                    </td>
                    <td>
                        <a
                            href="https://www.google.com/maps/dir//{{ facts.tour.end.latitude }},{{ facts.tour.end.longitude }}/@{{ facts.tour.end.latitude }},{{ facts.tour.end.longitude }},18z"
                            target="_blank"
                        >
                            {% if facts.tour.endTitle is not empty %}{{ facts.tour.endTitle }}{% else %}{{ 'blogpost.data-facts.click-here'|trans }}{% endif %}
                        </a>
                    </td>
                </tr>
            {% endif %}
            {# Distance #}
            {% if
                facts.tour.distance is defined and
                facts.tour.distance > 0
            %}
                <tr>
                    <td class="font-weight-bold pr-2">{{ 'blogpost.data-facts.distance'|trans }}</td>
                    <td>Ca. {{ facts.tour.distance }} km</td>
                </tr>
            {% endif %}
            {# Elevation #}
            {% if
                facts.tour.elevation is defined and
                facts.tour.elevation > 0
            %}
                <tr>
                    <td class="font-weight-bold pr-2">{{ 'blogpost.data-facts.elevation'|trans }}</td>
                    <td>Ca. {{ facts.tour.elevation }} Hm</td>
                </tr>
            {% endif %}
            {# Duration #}
            {% if
                facts.tour.duration is defined and
                facts.tour.duration > 0
            %}
                <tr>
                    <td class="font-weight-bold pr-2">{{ 'blogpost.data-facts.duration'|trans }}</td>
                    <td>
                        Ca. {{ facts.tour.duration }} {{ 'blogpost.data-facts.duration.hours'|trans }}
                        {# Pauses #}
                        {% if
                            facts.tour.pauses is defined and
                            facts.tour.pauses is not empty
                        %}
                            {% set translationKey = 'blogpost.facts.tour.pauses.' ~ facts.tour.pauses %}
                            {{ translationKey|trans }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {# Orientation #}
            {% if
                facts.tour.orientation is defined and
                facts.tour.orientation is not empty
            %}
                <tr>
                    <td class="font-weight-bold pr-2">{{ 'blogpost.data-facts.tour.orientation'|trans }}</td>
                    <td>
                        {% set translationKey = 'blogpost.facts.tour.orientation.' ~ facts.tour.orientation %}
                        {{ translationKey|trans }}
                    </td>
                </tr>
            {% endif %}
            {# Hike : Head for height #}
            {% if
                facts.tour.headForHeights is defined and
                facts.tour.headForHeights is not empty
            %}
                <tr>
                    <td class="font-weight-bold pr-2">{{ 'blogpost.data-facts.tour.head-for-heights'|trans }}</td>
                    <td>
                        {% set translationKey = 'blogpost.facts.tour.head-for-heights.' ~ facts.tour.headForHeights %}
                        {{ translationKey|trans }}
                    </td>
                </tr>
            {% endif %}
            {# Hike : Surefootedness #}
            {% if
                facts.tour.surefootedness is defined and
                facts.tour.surefootedness is not empty
            %}
                <tr>
                    <td class="font-weight-bold pr-2">{{ 'blogpost.data-facts.tour.surefootedness'|trans }}</td>
                    <td>
                        {% set translationKey = 'blogpost.facts.tour.surefootedness.' ~ facts.tour.surefootedness %}
                        {{ translationKey|trans }}
                    </td>
                </tr>
            {% endif %}
            {# Bike : Singletrail scale #}
            {% if
                facts.tour.singletrailScale is defined and
                facts.tour.singletrailScale is not empty
            %}
                <tr>
                    <td class="font-weight-bold pr-2">{{ 'blogpost.data-facts.tour.singletrail-scale'|trans }}</td>
                    <td>
                        {{ facts.tour.singletrailScale }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
</aside>
