<aside class="links-downloads mt-4">
    <h3>{{ 'blogpost.link-files.headline'|trans }}</h3>
    <table>
        {{ dump(blogpost) }}
{#        {% if tour is defined and tour is not null and tour.tourTrackingFile %}#}
{#            <tr>#}
{#                <td><i class="material-icons pr-2">file_download</i></td>#}
{#                <td><a href="{{ tour.tourTrackingFile.fullPath }}" download>{{ 'blogpost.tour.gpx-as-download'|trans }}</a></td>#}
{#            </tr>#}
{#        {% endif %}#}
{#        {% for collection in blogpost.blogpostLinksAndFiles %}#}
{#            #}{# Link #}
{#            {% if collection.type == "blogpostLinkURL" %}#}
{#                <tr>#}
{#                    <td><i class="material-icons pr-2">link</i></td>#}
{#                    <td><a href="{{ collection.link.direct }}" target="_blank">{{ collection.link.text }}</a></td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            #}{# File #}
{#            {% if collection.type == "blogpostLinkFile" %}#}
{#                <tr>#}
{#                    <td><i class="material-icons pr-2">file_download</i></td>#}
{#                    <td><a href="{{ collection.file.fullPath }}" download>{{ collection.title }}</a></td>#}
{#                </tr>#}
{#            {% endif %}#}
{#        {% endfor %}#}
    </table>
</aside>
